
@charset "ISO-8859-1";

body {
    font:12px arial;
    color: #222;
    text-align:center;
   
    
     }
#wall{
	position: relative;
    padding: 0px;
	width: 1350px;
	height: 60px;	
	 background-color: DodgerBlue ;
}



#logWrapper {
	position: absolute;
    top: 200px;
	right: 600px;
	width: 400px;
	height: 750px;
   
    background-color: LightSteelBlue;
    border: 5px solid DodgerBlue;
}


#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:white;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; 
    }
     
  
#usermsg {
    width:395px;
    border:1px solid #ACD8F0;
     }
    
    
    #wrapper {
    
position: absolute;
    top: 130px;
	right: 700px;
	
	
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0; 
    }
    
    .logout { 
    
    float:right;
    
     }
